body {
    background: #131115;
    overflow-x: hidden;
    overflow-y: hidden
}

#c1 {
    background: #fbf7fe;
    position: fixed;
    left: 0px;
    top: 0px;
}

#main {
    transform-origin: 0px 0px;
    position: fixed;
    left: 0px;
    top: 0px;
}

#panel {
    position: fixed;
    top: 0px;
    right: 0px;
    color: white;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 1000;
}

#range {
    width: 200px;
}